p{
  font-family:Roboto, Arial;
  margin-top:0;
  margin-bottom: 0;
}

body{
  margin: 0;
  padding-top: 80px;
}

.sidebar {
  background-color: white;
  position: fixed;
  bottom: 0;
  top: 55px;
  left: 0;
  width:55px;
 }